@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Audiowide", display;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: linear-gradient(0, rgb(66, 65, 65) 0%, rgba(0, 0, 0, 1) 100%);
  color: #622be2;
  height: 100vh;
  width: 100wv;
}
h1,
h2 {
  font-size: 4em;
  padding: 0.8em 0 0.2em 0;
}
/*h1::before {
  content: "";
  border-bottom: 3px double #622be2;

  position: absolute;
  width: 200px;
  padding-top: 0.9em;
  margin-left: -3em;
}
h1::after {
  content: "";
  border-bottom: 3px double #622be2;
  position: absolute;
  padding-top: 0.9em;
  width: 200px;
}*/
.text p,
.overlay p {
  font-size: 3em;
  padding-bottom: 1em;
}
button {
  font-family: "Audiowide", display;
  font-size: 1.2em;
  background-color: rgb(32, 32, 32);
  color: honeydew;

  padding: 1.2em 2em;
  margin: 1.5em;
  border-radius: 5px;
  justify-content: center;
  border: none;
  box-shadow: 0 0 5px black;
  transition: color ease-in 0.2s;
}
button:hover {
  box-shadow: 2px 2px 8px #622be2;
  opacity: 0.9;
  color: greenyellow;
}

.circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.circle {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6em;
  color: #162433;
  height: 200px;
  width: 200px;
  margin: 10px;
  /*border: 0.2px solid #444444;*/
  box-shadow: 0 0 10px grey;
  cursor: pointer;
}

.active {
  box-shadow: 0 0 20px greenyellow;
  border: 20px greenyellow;
  background: url("./assets/pictures/Group_13.svg") center center no-repeat;
  background-size: 80%;
}

/*  ==== == POPUP part == ====*/
.close-popup {
  background-color: grey;
  color: black;
  height: 30px;
  width: 30px;
  border-radius: 2px 0px 2px 2px;
  padding: 1px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  box-shadow: 0 0 0 #622be2;
}

.overlay {
  background-color: rgba(43, 41, 41, 0.9);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
}
.popup {
  position: relative;
  background-color: white;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  box-shadow: 0 0 5px #333;
  z-index: 10;
}

/* === MULTIMEDIA === */
@media (max-width: 736px) {
  h1,
  h2 {
    font-size: 2.4em;
    padding: 0.5em 0 0.1em 0;
  }
  .text p,
  .overlay p {
    font-size: 2em;
    padding-bottom: 0.5em;
  }
  .circle {
    font-size: 4em;
    height: 100px;
    width: 100px;
    margin: 15px;
  }
  .active {
    box-shadow: 0 0 10px greenyellow;
    border: 10px greenyellow;
  }
}
